<div class="footer">
    <footer class="footer-bar">
        <div class="hero-buttons">
            <a href="/feedback" class="submit-feedback-btn">Give Feedback</a>
        </div>
        <div class="footer-content">
            <a href="https://www.instagram.com/_om_prakash_yadav_?igsh=djhuNzZkcnp0cDM=" class="instagram"><i class="fa-brands fa-instagram"></i>Instagram</a>
            <a href="https://www.facebook.com/share/1UtFpE1EBt/" class="facebook" style="max-width: fit-content;"><i class="fa-brands fa-facebook"></i>Facebook</a>
            <a href="https://www.linkedin.com/in/om-prakash-8a970a310?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" class="linkedin"><i class="fa-brands fa-linkedin"></i>LinkedIn</a>
        </div>
        <div class="copyright-feedback">
            <p class="copyright">&copy; HealthCarePlus.Com</p>
        </div>
    </footer>
</div>