<div class="main-container">
    <div class="main-content">
      <div class="hero">
        <div class="hero-content">
          <h1>Your Health, Our Priority</h1>
          <p>Book trusted doctors near you anytime, anywhere. Fast and easy appointment scheduling for your care needs.</p>
          <div class="hero-buttons">
            <a href="/doctor" class="view-doctors-btn" style="max-width: fit-content;">View Doctors</a>
        </div>
      </div>
      <!-- Image -->
      <div class="image-gallery">
        <div class="image">
          <img src="/images/img1.jpg" class="img-thumbnail" alt="...">
        </div>
        <div class="image">
          <img src="/images/img2.jpg" class="img-thumbnail" alt="...">
        </div>
        <div class="image">
          <img src="/images/img3.jpg" class="img-thumbnail" alt="...">
        </div>
        <div class="image">
          <img src="/images/img4.jpg" class="img-thumbnail" alt="...">
        </div>
        <div class="image">
          <img src="/images/img5.jpg" class="img-thumbnail" alt="...">
        </div>
        <div class="image">
          <img src="/images/img6.jpg" class="img-thumbnail" alt="...">
        </div>
        <div class="image">
          <img src="/images/img19.jpg" class="img-thumbnail" alt="...">
        </div>
        <div class="image">
          <img src="/images/img20.jpg" class="img-thumbnail" alt="...">
        </div>
      </div>
    </div>
</div>