body {
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
  padding: 0;
  text-align: center;
}

h1 {
  margin: 6rem 0 6rem 0;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.doctor-card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 250px;
  padding: 20px;
  text-align: left;
  transition: transform 0.3s;
}

.doctor-card:hover {
  transform: scale(1.05);
}

.doctor-card img {
  width: 100%;
  height: 20rem;
  border-radius: 8px;
  object-fit: cover;
}

.doctor-card h2 {
  margin: 10px 0 5px;
  font-size: 20px;
}

.doctor-card p {
  margin: 5px 0;
  font-size: 14px;
}

.btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #0056b3;
}

.empty{
  height: 6rem;
  width: 100%;
}